<html>
<head>
  <title>Currency Convertor</title>
</head>
<body>
  <div>
  <select>
    <option>USD</option>
    <option>INR</option>
  </select>
  <select>
    <option>USD</option>
    <option>INR</option>
  </select>
</div>
<div>
  <label>To</label>
  <input type='text' name='to_currnecy' class='to-text-box'>
</div>
<div>
  <label>From</label>
  <input type='text' name='from_currnecy' class='from-text-box'>
</div>
</body>
</html>
